@{
    ViewData["Title"] = "Register";
}

<form class="d-flex align-items-center flex-column justify-content form-outline w-50">
  <h1>Регистрация</h1>
  <label>Имя:</label>
  <input type="text" id="form12" class="form-control" />
  <label class="form-label" for="form12">Example label</label>
</form>
<div class="form-outline">
  <input type="text" id="form12" class="form-control" />
  <label class="form-label" for="form12">Example label</label>
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"></span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>