@{
    ViewData["Title"] = "Регистрация";
}

<div class="d-flex justify-content-center">
  <form method="post" asp-controller="Auth" asp-action="Register" class="d-flex flex-column text-center border rounded form-outline sign-in bg-secondary p-3">
    <h1>Регистрация</h1>

    <label>Логин</label>
    <input type="text" id="form12" class="form-control" name="Name" placeholder="Введите логин" />

    <label class="form-label" for="form12">Пароль</label>
    <input type="password" id="form12" class="form-control" name="Password" placeholder="Введите пароль"/>

    <label class="form-label" for="form12">Подтвердите пароль</label>
    <input type="password" id="form12" class="form-control" name="PasswordConfirm" placeholder="Введите пароль ещё раз"/>
    <EditForm></EditForm>


    <input type="submit" value="Войти" class="submit-button btn btn-primary border">
  </form>
</div>
