@font-face {
    font-family: Actionj;
    src: url("../fonts/actionj.ttf");
}

.nav-font{
    font-family: Actionj;
}

.dark-bg{
    background-color: #212738;
}

.logo > span{
    text-decoration: none;
    color: #D1D646;
    transition: 1s;
    margin-left:5px;
}

.logo > span:hover{
    transition: 1s;
    color:  #A3A725;
}

.lobby-container{
    gap: 20px;
    display: flex;
    justify-content: center;
}

h1 > .bi-person-circle{
    margin-right: 10px;
    color: #22a3ff;
    transition: 1s;
}

h1 > .bi-person-circle:hover{
    color: #1C8EB0;
    transition:1s;
}

.lobby{
    background-color: #2D364D;
    width: 350px;
    height: 250px;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    transition: 1s;
    text-decoration: none;
    color: #91B693;
}

.lobby:hover{
    color: #72BDA3;
    transition: 1s;
}

.add-lobby-icon{
    font-size: 100px;
}

.wait-icon{
    font-size: 60px;
}

.add-lobby-container{
    width: 350px;
    height: 250px;
    text-decoration: none;
    transition: 1s;
    background-color: #2D364D;
}

.add-lobby-container:hover{
    transition: 1s;
    color: #1C8EB0;
}

.submit-button{
    margin-top: 20px;
    margin-bottom: 5px;
}

.start-button
{
    background-color: #b1dfb3;
}

.start-button:hover
{
    background-color: #91B693;
}

.register-btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

@media (min-width:700px) {
    .sign-in{
        width: 450px;
    }
}

@media (max-width:700px) {
    .sign-in{
        width:80%;
    }
}

.waiting-room
{
    background-color: #0B3947;
}

.board{
    margin-left: auto;
    margin-right: auto;
    border:#22ff3148 solid 5px;
    background-color: rgba(255, 228, 196, 0.072);
}

.chatroom{
    width: 75%;
    margin-left: auto;
    text-align: center;
    background-color: #457b9d6a;
}